# Tested with:
python==3.11.11
numpy==2.2.2
pandas==2.2.3
scikit-learn==1.6.1
imbalanced-learn==0.13.0
matplotlib==3.8.4
seaborn==0.13.2
shap == 0.47.2
# Older versioins of these libraries may work but are not tested.
